.catalog-profiles-list {
  display: grid;
  gap: 11px;
  width: 275px;
  margin: 0 auto;
}
@media (min-width: @tablet-width) {
  .catalog-profiles-list {
    gap: 39px;
    width: 690px;
  }
}
@media (min-width: @desktop-width) {
  .catalog-profiles-list {
    width: 955px;
  }
}
